{% extends 'base.html' %}
{% load static %}

{% block other_css %}
    <link rel="stylesheet" href="{% static 'css/completion_filter.css' %}">
{% endblock %}

{% block content %}
    {% include 'content/blocks/complection_comparison/complection_comparison_table.html' %}
    {% include 'content/blocks/complection_comparison/useful.html' %}
    {% include 'content/blocks/shared/baw_car_application.html' %}
{% endblock %}

{% block other_js %}
    <script>
        $(function () {
            function applyFilters() {
                let checked = [];
                $(".completion-filter__checks input[type='checkbox']:checked").each(function () {
                    checked.push($(this).data('config-id'));
                });

                if (checked.length === 0) {
                    $("[data-config-id]").show();
                } else {
                    $(".completion-car[data-config-id], .completion-props__col[data-config-id]").hide();
                    $.each(checked, function (_, id) {
                        $("[data-config-id='" + id + "']").not(".m-check").show();
                    });
                }

                let showDifferences = $("#show-differences").is(":checked");

                $(".completion-props__row").each(function () {
                    let values = $(this).find(".completion-props__col:visible .text18").map(function () {
                        return $(this).text().trim();
                    }).get();

                    let hasDifference = new Set(values).size > 1;

                    $(this).toggle(!showDifferences || hasDifference);
                });
            }

            $(document).on("change", ".completion-filter__checks input[type='checkbox'], #show-differences", applyFilters);
        });
    </script>
{% endblock %}