{% extends 'base.html' %}
{% load static %}

{% block other_css %}
	<link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css">
    <link rel="stylesheet" href="{% static 'css/player.css' %}">
    <link rel="stylesheet" href="{% static 'css/technical_features.css' %}?v={{ staticfiles_version }}">
    <link rel="stylesheet" href="{% static 'css/home_mobile_fix.css' %}?v={{ staticfiles_version }}">
{% endblock %}

{% block content %}
    {% include 'content/blocks/navigation/submenu.html' %}

    {% include 'content/blocks/home/hero_sections.html' %}
    {% include 'content/blocks/home/card_configuration.html' %}
    {% include 'content/blocks/home/choose_baw.html' %}
    {% include 'content/blocks/home/advantages.html' %}
    {% include 'content/blocks/home/video_card.html' %}
    {% include 'content/blocks/home/auto_section.html' %}
    {% include 'content/blocks/home/technology.html' %}
    {% include 'content/blocks/home/services.html' %}
    {% include 'content/blocks/home/technical_features.html' %}
    {% include 'content/blocks/shared/baw_car_application.html' %}
    {% include 'content/blocks/news/news_block.html' %}
    {% include 'content/blocks/shared/question.html' %}
{% endblock %}

{% block other_js %}
	<script src="https://cdn.plyr.io/3.7.8/plyr.polyfilled.js"></script>
    <script src="{% static 'js/player.js' %}"></script>
{% endblock %}