{% extends 'base.html' %}

{% block title %}
    {{ 'Мир Baw'|upper }}
{% endblock %}

{% block content %}
    {% include 'content/blocks/submenu.html' %}
    {% include 'content/blocks/our_world_banner.html' %}
    {% include 'content/blocks/our_world_news_block.html' %}
    {% include 'content/blocks/our_world_adventures.html' %}
    {% include 'content/blocks/our_world_history.html' %}

{#    {% include 'content/blocks/hero_sections.html' %}#}
{#    {% include 'content/blocks/card_configuration.html' %}#}
{#    {% include 'content/blocks/choose_baw.html' %}#}
{#    {% include 'content/blocks/advantages.html' %}#}
{#    {% include 'content/blocks/video_card.html' %}#}
{#    {% include 'content/blocks/auto_section.html' %}#}
{#    {% include 'content/blocks/technology.html' %}#}
{#    {% include 'content/blocks/services.html' %}#}
{#    {% include 'content/blocks/technical_features.html' %}#}
{#    {% include 'content/blocks/baw_car_application.html' %}#}
{#    {% include 'content/blocks/news_block.html' %}#}
{#    {% include 'content/blocks/question.html' %}#}
{% endblock %}