{% extends 'base.html' %}

{% block title %}
    {{ 'Мир Baw'|upper }}
{% endblock %}

{% block content %}
    {% include 'content/blocks/navigation/submenu.html' %}
    {% include 'content/blocks/our_world/our_world_banner.html' %}
    {% include 'content/blocks/our_world/our_world_news_block.html' %}
    {% include 'content/blocks/our_world/our_world_adventures.html' %}
    {% include 'content/blocks/our_world/our_world_history.html' %}
    {% include 'content/blocks/our_world/our_world_society.html' %}
    {% include 'content/blocks/our_world/our_world_news_video.html' %}
{% endblock %}