{% extends 'base.html' %}
{% load static %}
{% load technical_features %}

{% block title %}Политика обработки персональных данных{% endblock %}

{% block other_css %}
<link rel="stylesheet" href="{% static 'css/privacy_policy.css' %}">
{% endblock %}

{% block content %}
<div class="test-main">
    <div class="container">
        {% breadcrumbs 'Главная' 'home' 'Политика обработки персональных данных' '' %}

        <div class="privacy-policy">
            <div class="h1">Политика обработки персональных данных в отношении посетителей сайта www.bawrussia.ru</div>

            <div class="privacy-policy__content">

                <div class="privacy-policy__section">
                    <div class="privacy-policy__heading text20 semi-bold-text">1. Общие положения</div>
                    <div class="privacy-policy__text text16">
                        <p>1.1. Общество с ограниченной ответственностью «Дилер Азия Авто», владелец веб-сайта: <a href="{% url 'home' %}" class="privacy-policy__link">https://bawrussia.ru/</a> (далее по тексту — Оператор) ставит соблюдение прав и свобод граждан одним из важнейших условий осуществления своей деятельности.</p>
                        <p>1.2. Политика Оператора в отношении обработки персональных данных (далее по тексту — Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a href="{% url 'home' %}" class="privacy-policy__link">https://bawrussia.ru/</a>. Персональные данные обрабатывается в соответствии с Федеральным законом от 27.07.2006 N 152-ФЗ «О персональных данных» (далее — Закон о персональных данных).</p>
                        <p>1.3. Политика распространяется на отношения в области обработки персональных данных, возникшие у Оператора как до, так и после утверждения настоящей Политики.</p>
                    </div>
                </div>

                <div class="privacy-policy__section">
                    <div class="privacy-policy__heading text20 semi-bold-text">2. Основные понятия, используемые в Политике</div>
                    <div class="privacy-policy__text text16">
                        <p>2.1. Веб-сайт — совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу <a href="{% url 'home' %}" class="privacy-policy__link">https://bawrussia.ru/</a>.</p>
                        <p>2.2. Пользователь — любой посетитель веб-сайта <a href="{% url 'home' %}" class="privacy-policy__link">https://bawrussia.ru/</a>.</p>
                        <p>2.3. Персональные данные — любая информация, относящаяся к Пользователю веб-сайта <a href="{% url 'home' %}" class="privacy-policy__link">https://bawrussia.ru/</a>.</p>
                        <p>2.4. Обработка персональных данных — любое действие с персональными данными, совершаемые с использованием ЭВМ, равно как и без их использования. Обработка персональных данных включает в себя в том числе:</p>
                        <ul class="privacy-policy__list">
                            <li>сбор;</li>
                            <li>запись;</li>
                            <li>систематизацию;</li>
                            <li>накопление;</li>
                            <li>хранение;</li>
                            <li>уточнение (обновление, изменение);</li>
                            <li>извлечение;</li>
                            <li>использование;</li>
                            <li>передачу (распространение, предоставление, доступ);</li>
                            <li>обезличивание;</li>
                            <li>блокирование;</li>
                            <li>удаление;</li>
                            <li>уничтожение.</li>
                        </ul>
                        <p>2.5. Автоматизированная обработка персональных данных — обработка персональных данных с помощью средств вычислительной техники.</p>
                        <p>2.6. Распространение персональных данных — действия, направленные на раскрытие персональных данных неопределённому кругу лиц.</p>
                        <p>2.7. Предоставление персональных данных — действия, направленные на раскрытие персональных данных определённому лицу или определённому кругу лиц.</p>
                        <p>2.8. Блокирование персональных данных — временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).</p>
                        <p>2.9. Уничтожение персональных данных — действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничтожаются материальные носители персональных данных.</p>
                        <p>2.10. Обезличивание персональных данных — действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных.</p>
                        <p>2.11. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств.</p>
                    </div>
                </div>

                <div class="privacy-policy__section">
                    <div class="privacy-policy__heading text20 semi-bold-text">3. Оператор может обрабатывать следующие персональные данные</div>
                    <div class="privacy-policy__text text16">
                        <p>3.1. Адрес электронной почты Пользователя.</p>
                        <p>3.2. Номер телефона Пользователя.</p>
                        <p>3.3. Фамилию, имя, отчество Пользователя.</p>
                        <p>3.4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).</p>
                    </div>
                </div>

                <div class="privacy-policy__section">
                    <div class="privacy-policy__heading text20 semi-bold-text">4. Цели обработки персональных данных</div>
                    <div class="privacy-policy__text text16">
                        <p>4.1. Цель обработки адреса электронной почты, номера телефона, фамилии, имени, отчества Пользователя — уточнение деталей заказа. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес <a href="mailto:info@bawrussia.ru" class="privacy-policy__link">info@bawrussia.ru</a>.</p>
                        <p>4.2. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.</p>
                    </div>
                </div>

                <div class="privacy-policy__section">
                    <div class="privacy-policy__heading text20 semi-bold-text">5. Правовые основания обработки персональных данных</div>
                    <div class="privacy-policy__text text16">
                        <p>5.1. Оператор обрабатывает персональные данные Пользователя только в случае их отправки Пользователем через формы, расположенные на сайте <a href="{% url 'home' %}" class="privacy-policy__link">https://bawrussia.ru/</a>. Отправляя свои персональные данные Оператору, Пользователь выражает своё согласие с данной Политикой.</p>
                        <p>5.2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).</p>
                    </div>
                </div>

                <div class="privacy-policy__section">
                    <div class="privacy-policy__heading text20 semi-bold-text">6. Порядок сбора, хранения, передачи и других видов обработки персональных данных</div>
                    <div class="privacy-policy__text text16">
                        <p>6.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</p>
                        <p>6.2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.</p>
                        <p>6.3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их, направив Оператору уведомление с помощью электронной почты на электронный адрес Оператора <a href="mailto:info@bawrussia.ru" class="privacy-policy__link">info@bawrussia.ru</a> с пометкой «Актуализация персональных данных».</p>
                        <p>6.4. Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать своё согласие на обработку персональных данных, направив Оператору уведомление с помощью электронной почты на электронный адрес Оператора <a href="mailto:info@bawrussia.ru" class="privacy-policy__link">info@bawrussia.ru</a> с пометкой «Отзыв согласия на обработку персональных данных».</p>
                    </div>
                </div>

                <div class="privacy-policy__section">
                    <div class="privacy-policy__heading text20 semi-bold-text">7. Пользователь имеет право</div>
                    <div class="privacy-policy__text text16">
                        <p>7.1. Получать информацию, касающуюся обработки его персональных данных, за исключением случаев, предусмотренных федеральными законами. Сведения предоставляются Пользователю Оператором в доступной форме, и в них не должны содержаться персональные данные, относящиеся к другим Пользователям.</p>
                        <p>7.2. Требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.</p>
                        <p>7.3. Дать предварительное согласие на обработку персональных данных в целях продвижения на рынке товаров, работ и услуг.</p>
                        <p>7.4. Обжаловать в Роскомнадзоре или в судебном порядке неправомерные действия или бездействие Оператора при обработке его персональных данных.</p>
                    </div>
                </div>

                <div class="privacy-policy__section">
                    <div class="privacy-policy__heading text20 semi-bold-text">8. Заключительные положения</div>
                    <div class="privacy-policy__text text16">
                        <p>8.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты <a href="mailto:info@bawrussia.ru" class="privacy-policy__link">info@bawrussia.ru</a>.</p>
                        <p>8.2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. В случае существенных изменений Пользователю может быть выслана информация на указанный им электронный адрес.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
