{% load static %}

<div class="modal" id="reqModal">
    <div class="modal__bg modal-bg _close-modal"></div>
    <div class="modal__dialog">
        <div class="modal__top">
            <div class="text26">
                Позвонить мне
            </div>
            <div class="text16">
                Оставьте контактные данные, чтобы наш специалист мог Вам помочь
            </div>
        </div>

        <form class="modal-form" id="callbackForm" data-url="{% url 'callback' %}">
            {% csrf_token %}
            <div class="modal-form__fields">
                <div class="fg">
                    <input type="text" name="name" placeholder="Как к Вам обращаться? ">
                </div>
                <div class="fg">
                    <input type="tel" name="phone" placeholder="+ 7 ( _ _ _ ) _ _ - _ _ - ___">
                </div>
                <div class="fg">
                    <textarea name="comment" placeholder="Комментарий "></textarea>
                </div>
            </div>
            <button class="modal-form__btn m-btn m-btn--cut m-btn-brown" id="submitBtn" type="button">
                <span>ОТПРАВИТЬ ЗАЯВКУ</span>
            </button>
            <div class="modal-form__hint">
                <div class="text10">
                    При нажатии на кнопку «Записаться» вы соглашаетесь <br> с <a href="" class="underline-text">условиями
                    обработки персональных данных</a>
                </div>
            </div>
        </form>

        <button class="close-btn _close-modal">
            <img src="{% static 'img/close2.svg' %}" alt="">
        </button>
    </div>
</div>