{% load static %}

<div class="history m-section">
    <div class="container">
        <div class="h1 text-center">
            ГЛАВНЫЕ ВЕХИ РАЗВИТИЯ
        </div>
        <div class="history__desc">
            <div class="body-l">
                BAW (Beijing Automobile Works) — это один из старейших и наиболее уважаемых автомобильных 
                брендов Китая, чья история неразрывно связана с развитием внедорожной техники.
                С момента основания компания прошла путь от производства первых военных автомобилей до создания 
                современных моделей, сочетающих в себе легендарную проходимость, надежность и актуальные 
                    технологические решения.
            </div>
        </div>
        <div class="history-slider slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for story in history_baw %}
                        <div class="swiper-slide">
                            {% if story.period %}
                                <div class="history-slider__year">
                                    <div class="h1">{{ story.period }}</div>
                                </div>
                            {% endif %}
                            <div class="history-card">
                                <div class="history-card__img">
                                    {% if story.webp_image %}
                                    <img src="{{ story.webp_image.url }}" alt="">
                                    {% endif %}
                                </div>
                                <div class="history-card__content">
                                    <div class="history-card__year">
                                        {{ story.year }}
                                    </div>
                                    <div class="history-card__desc">
                                        {{ story.description }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        
            <div class="slider__nav">
                <div class="swiper-nav">
                    <div class="swiper-button swiper-button-prev">
                        <img src="{% static 'img/prev.svg' %}" alt="">
                    </div>
                    <div class="swiper-button swiper-button-next">
                        <img src="{% static 'img/next.svg' %}" alt="">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>