{% load static %}

<div class="about-main m-section">
    <div class="container">
        <div class="about-main__inner">
            <div class="about-main__content">
                <img src="{% static 'img/logo2.svg' %}" alt="" class="about-main__logo">
                <div class="h1 red-text">
                    ОТКРОЙТЕ ДЛЯ СЕБЯ ИСТОРИЮ
                </div>
            </div>
            <div class="about-main__img">
                <img src="{{ banner.webp_image.url }}" alt="">
            </div>
        </div>

        <div class="about-info">
            {% for other_banner in other_banners %}
                <div class="about-card">
                    <div class="about-card__img">
                        <img src="{{ other_banner.webp_image.url }}" alt="">
                    </div>
                    <div class="about-card__content">
                        <div class="h1">
                            {{ other_banner.title }}
                        </div>
                        <div class="about-card__desc">
                            <div class="body-l">
                                {{ other_banner.description }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>