{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="color-scheme" content="light only">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}?v={{ staticfiles_version }}">
    <link rel="stylesheet" href="{% static 'css/cookie_banner.css' %}">
    {% block other_css %}{% endblock %}
    <title>{% block title %}BAW{% endblock %}</title>
</head>

<body class="m-page">
    <div class="wrapper">
        {% include 'partials/header.html' %}

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}"
                         style="padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; {% if message.tags == 'success' %}color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6;{% else %}color: #a94442; background-color: #f2dede; border-color: #ebccd1;{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <main class="content">
            {% block content %}Контент{% endblock %}
        </main>
        {% include 'partials/footer.html' %}
    </div>

    {% include 'partials/modal_callback.html' %}
    {% include 'partials/modal_thanks.html' %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/fancybox.umd.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}?v={{ staticfiles_version }}"></script>
    <script src="{% static 'js/cookie_banner.js' %}"></script>
    {% block other_js %}{% endblock %}
</body>
</html>