<div id="auto" class="auto m-section">
    <div class="container">
        <div class="h1 text-center">
            Характер, который выделяется
        </div>
        <div class="character _tabs-parent">
            <div class="character-slider slider">
                <div class="character__view">
                    <button data-tab="_tab1" class="character__view-btn _tab _active m-btn m-btn--cut m-btn-white2">
                        <span>ВЫБРАТЬ ЦВЕТ кузова</span>
                    </button>
                    <button data-tab="_tab2" class="character__view-btn _tab m-btn m-btn--cut m-btn-white2">
                        <span>ВЫБРАТЬ ЦВЕТ САЛОНА</span>
                    </button>
                </div>
                <div class="slider__wrap">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="character-card">
                                    <div class="tab-content _tab1 _active">
                                        <div class="_color1 _active character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color2 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color3 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color4 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-content _tab2">
                                        <div class="_color1 _active character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color2 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color3 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color4 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="character-card">
                                    <div class="tab-content _tab1 _active">
                                        <div class="_color1 _active character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color2 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color3 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color4 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="tab-content _tab2">
                                        <div class="_color1 _active character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color2 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color3 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                        <div class="_color4 character-card__img">
                                            <img src="img/character-img.webp" alt="">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="character__colors">
                    <div class="character-color _active" data-color="_color1">
                        <div class="character-color__top">
                            <div class="character-color__bg" style="background: #3A5F2D;"></div>
                        </div>
                        <div class="character-color__title">
                            Зеленый
                        </div>
                    </div>
                    <div class="character-color" data-color="_color2">
                        <div class="character-color__top">
                            <div class="character-color__bg" style="background: #FFF;"></div>
                        </div>
                        <div class="character-color__title">
                            Белый
                        </div>
                    </div>
                    <div class="character-color" data-color="_color3">
                        <div class="character-color__top">
                            <div class="character-color__bg"
                                 style="background: #1E1E1E;border: 1px solid #323232;"></div>
                        </div>
                        <div class="character-color__title">
                            Черный
                        </div>
                    </div>
                    <div class="character-color" data-color="_color4">
                        <div class="character-color__top">
                            <div class="character-color__bg" style="background: #94D3FF;"></div>
                        </div>
                        <div class="character-color__title">
                            Синий
                        </div>
                    </div>
                </div>
                <div class="slider__nav">
                    <div class="swiper-nav">
                        <div class="swiper-button swiper-button-prev">
                            <img src="img/prev.svg" alt="">
                        </div>
                        <div class="swiper-button swiper-button-next">
                            <img src="img/next.svg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <div class="auto-info">
            <div class="auto-info__row">
                <div class="auto-info__col">
                    <img src="img/auto-info.webp" alt="" class="auto-info__img">
                </div>
                <div class="auto-info__col2">
                    <div class="h1">
                        МУЖЕСТВЕННЫЙ ДИЗАЙН
                    </div>
                    <div class="auto-info__desc">
                        <div class="body-l text16-tablet white-text3">
                            Жёсткий пластик, удобный поручень, понятная электрика и простые решения делают автомобиль
                            устойчивым к грязи, воде и вибрациям. Такой аскетичный подход — скрытое преимущество: машина
                            легко обслуживается в полевых условиях, а недорогие и доступные запчасти обеспечивают долгую
                            жизнь модели.
                        </div>
                    </div>
                    <div class="auto-info__props">
                        <div class="prop-item">
                            <div class="prop-item__top">
                                <div class="prop-item__title">
                                    ПуНКТ характеристики
                                </div>
                            </div>
                            <div class="prop-item__bottom">
                                <div class="prop-item__desc">
                                    Прямая линия крыши и колёсная база 2860 мм создают массивный и уверенный силуэт. В
                                    этих пропорциях — баланс формы и функциональности, а внутри достаточно пространства,
                                    чтобы всем пассажирам было комфортно каждую поездку.
                                </div>
                            </div>
                        </div>

                        <div class="prop-item">
                            <div class="prop-item__top">
                                <div class="prop-item__title">
                                    ПуНКТ характеристики
                                </div>
                            </div>
                            <div class="prop-item__bottom">
                                <div class="prop-item__desc">
                                    Прямая линия крыши и колёсная база 2860 мм создают массивный и уверенный силуэт. В
                                    этих пропорциях — баланс формы и функциональности, а внутри достаточно пространства,
                                    чтобы всем пассажирам было комфортно каждую поездку.
                                </div>
                            </div>
                        </div>

                        <div class="prop-item">
                            <div class="prop-item__top">
                                <div class="prop-item__title">
                                    ПуНКТ характеристики
                                </div>
                            </div>
                            <div class="prop-item__bottom">
                                <div class="prop-item__desc">
                                    Прямая линия крыши и колёсная база 2860 мм создают массивный и уверенный силуэт. В
                                    этих пропорциях — баланс формы и функциональности, а внутри достаточно пространства,
                                    чтобы всем пассажирам было комфортно каждую поездку.
                                </div>
                            </div>
                        </div>
                        <div class="prop-item">
                            <div class="prop-item__top">
                                <div class="prop-item__title">
                                    ПуНКТ характеристики
                                </div>
                            </div>
                            <div class="prop-item__bottom">
                                <div class="prop-item__desc">
                                    Прямая линия крыши и колёсная база 2860 мм создают массивный и уверенный силуэт. В
                                    этих пропорциях — баланс формы и функциональности, а внутри достаточно пространства,
                                    чтобы всем пассажирам было комфортно каждую поездку.
                                </div>
                            </div>
                        </div>

                        <div class="prop-item">
                            <div class="prop-item__top">
                                <div class="prop-item__title">
                                    ПуНКТ характеристики
                                </div>
                            </div>
                            <div class="prop-item__bottom">
                                <div class="prop-item__desc">
                                    Прямая линия крыши и колёсная база 2860 мм создают массивный и уверенный силуэт. В
                                    этих пропорциях — баланс формы и функциональности, а внутри достаточно пространства,
                                    чтобы всем пассажирам было комфортно каждую поездку.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="auto-info__row">
                <div class="auto-info__col">
                    <img src="img/auto-info2.webp" alt="" class="auto-info__img">
                </div>
                <div class="auto-info__col2">
                    <div class="h1">
                        КОМФОРТ И практичность
                    </div>
                    <div class="auto-info__desc">
                        <div class="body-l text16-tablet white-text3">
                            Жёсткий пластик, удобный поручень, понятная электрика и простые решения делают автомобиль
                            устойчивым к грязи, воде и вибрациям. Такой аскетичный подход — скрытое преимущество: машина
                            легко обслуживается в полевых условиях, а недорогие и доступные запчасти обеспечивают долгую
                            жизнь модели.
                        </div>
                    </div>
                    <div class="auto-info__props">
                        <div class="prop-item">
                            <div class="prop-item__top">
                                <div class="prop-item__title">
                                    ПуНКТ характеристики
                                </div>
                            </div>
                            <div class="prop-item__bottom">
                                <div class="prop-item__desc">
                                    Прямая линия крыши и колёсная база 2860 мм создают массивный и уверенный силуэт. В
                                    этих пропорциях — баланс формы и функциональности, а внутри достаточно пространства,
                                    чтобы всем пассажирам было комфортно каждую поездку.
                                </div>
                            </div>
                        </div>

                        <div class="prop-item">
                            <div class="prop-item__top">
                                <div class="prop-item__title">
                                    ПуНКТ характеристики
                                </div>
                            </div>
                            <div class="prop-item__bottom">
                                <div class="prop-item__desc">
                                    Прямая линия крыши и колёсная база 2860 мм создают массивный и уверенный силуэт. В
                                    этих пропорциях — баланс формы и функциональности, а внутри достаточно пространства,
                                    чтобы всем пассажирам было комфортно каждую поездку.
                                </div>
                            </div>
                        </div>

                        <div class="prop-item">
                            <div class="prop-item__top">
                                <div class="prop-item__title">
                                    ПуНКТ характеристики
                                </div>
                            </div>
                            <div class="prop-item__bottom">
                                <div class="prop-item__desc">
                                    Прямая линия крыши и колёсная база 2860 мм создают массивный и уверенный силуэт. В
                                    этих пропорциях — баланс формы и функциональности, а внутри достаточно пространства,
                                    чтобы всем пассажирам было комфортно каждую поездку.
                                </div>
                            </div>
                        </div>

                        <div class="prop-item">
                            <div class="prop-item__top">
                                <div class="prop-item__title">
                                    ПуНКТ характеристики
                                </div>
                            </div>
                            <div class="prop-item__bottom">
                                <div class="prop-item__desc">
                                    Прямая линия крыши и колёсная база 2860 мм создают массивный и уверенный силуэт. В
                                    этих пропорциях — баланс формы и функциональности, а внутри достаточно пространства,
                                    чтобы всем пассажирам было комфортно каждую поездку.
                                </div>
                            </div>
                        </div>

                        <div class="prop-item">
                            <div class="prop-item__top">
                                <div class="prop-item__title">
                                    ПуНКТ характеристики
                                </div>
                            </div>
                            <div class="prop-item__bottom">
                                <div class="prop-item__desc">
                                    Прямая линия крыши и колёсная база 2860 мм создают массивный и уверенный силуэт. В
                                    этих пропорциях — баланс формы и функциональности, а внутри достаточно пространства,
                                    чтобы всем пассажирам было комфортно каждую поездку.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>