<div class="test-main__inner">
    <div class="test-main__content">
        <h1 class="h1">
            {{ banner.title }}
        </h1>
        <div class="test-main__desc">
            <div class="m-subtitle">
                {{ banner.description }}
            </div>
        </div>
        <div class="test-main__nav">
            <button class="test-main__btn m-btn m-btn--cut m-btn-brown">
                <span>подробнее</span>
            </button>
        </div>
    </div>
    <img src="{{ banner.image.url }}" alt="" class="test-main__img">
</div>