{% load static %}
<div class="choose m-section">
    <div class="container">
        <div class="h1 text-center">
            {{ block_baw_choices_title.value|safe|upper }}
        </div>
        <div class="cars-slider slider">
            <div class="slider__wrap">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="car-card">
                                <div class="car-card__img">
                                    <img src="img/car-img.webp" alt="">
                                </div>
                                <div class="car-card__info">
                                    <div class="car-card__title h2">
                                        ADVENTURER RUS
                                    </div>
                                    <div class="car-card__price">
                                        от 2 900 000  ₽
                                    </div>
                                </div>
                                <div class="car-card__props">
                                    <div class="car-card__prop">
                                        <span>Двигатель</span>
                                        <span>Бензиновый</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Объем двигателя</span>
                                        <span>2 л</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Мощность</span>
                                        <span>238 л.с</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Привод</span>
                                        <span>Полный</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Трансмиссия </span>
                                        <span>8-ступенчатая АКП</span>
                                    </div>
                                </div>
                                <div class="car-card__nav">
                                    <a href="" class="car-card__btn m-btn m-btn--cut m-btn-brown">
                                        <span>подробнее</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="car-card">
                                <div class="car-card__img">
                                    <img src="img/car-img2.webp" alt="">
                                </div>
                                <div class="car-card__info">
                                    <div class="car-card__title h2">
                                        Longwind RUS
                                    </div>
                                    <div class="car-card__price">
                                        от 2 900 000  ₽
                                    </div>
                                </div>
                                <div class="car-card__props">
                                    <div class="car-card__prop">
                                        <span>Двигатель</span>
                                        <span>Бензиновый</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Объем двигателя</span>
                                        <span>2 л</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Мощность</span>
                                        <span>238 л.с</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Привод</span>
                                        <span>Полный</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Трансмиссия </span>
                                        <span>8-ступенчатая АКП</span>
                                    </div>
                                </div>
                                <div class="car-card__nav">
                                    <a href="" class="car-card__btn m-btn m-btn--cut m-btn-brown">
                                        <span>подробнее</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="car-card">
                                <div class="car-card__img">
                                    <img src="img/car-img3.webp" alt="">
                                </div>
                                <div class="car-card__info">
                                    <div class="car-card__title h2">
                                        DIESEL RUS
                                    </div>
                                    <div class="car-card__price">
                                        от 2 900 000  ₽
                                    </div>
                                </div>
                                <div class="car-card__props">
                                    <div class="car-card__prop">
                                        <span>Двигатель</span>
                                        <span>Бензиновый</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Объем двигателя</span>
                                        <span>2 л</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Мощность</span>
                                        <span>238 л.с</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Привод</span>
                                        <span>Полный</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Трансмиссия </span>
                                        <span>8-ступенчатая АКП</span>
                                    </div>
                                </div>
                                <div class="car-card__nav">
                                    <a href="" class="car-card__btn m-btn m-btn--cut m-btn-brown">
                                        <span>подробнее</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="car-card">
                                <div class="car-card__img">
                                    <img src="img/car-img4.webp" alt="">
                                </div>
                                <div class="car-card__info">
                                    <div class="car-card__title h2">
                                        ADVENTURER RUS
                                    </div>
                                    <div class="car-card__price">
                                        от 2 900 000  ₽
                                    </div>
                                </div>
                                <div class="car-card__props">
                                    <div class="car-card__prop">
                                        <span>Двигатель</span>
                                        <span>Бензиновый</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Объем двигателя</span>
                                        <span>2 л</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Мощность</span>
                                        <span>238 л.с</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Привод</span>
                                        <span>Полный</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Трансмиссия </span>
                                        <span>8-ступенчатая АКП</span>
                                    </div>
                                </div>
                                <div class="car-card__nav">
                                    <a href="" class="car-card__btn m-btn m-btn--cut m-btn-brown">
                                        <span>подробнее</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="car-card">
                                <div class="car-card__img">
                                    <img src="img/car-img4.webp" alt="">
                                </div>
                                <div class="car-card__info">
                                    <div class="car-card__title h2">
                                        ADVENTURER RUS
                                    </div>
                                    <div class="car-card__price">
                                        от 2 900 000  ₽
                                    </div>
                                </div>
                                <div class="car-card__props">
                                    <div class="car-card__prop">
                                        <span>Двигатель</span>
                                        <span>Бензиновый</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Объем двигателя</span>
                                        <span>2 л</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Мощность</span>
                                        <span>238 л.с</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Привод</span>
                                        <span>Полный</span>
                                    </div>
                                    <div class="car-card__prop">
                                        <span>Трансмиссия </span>
                                        <span>8-ступенчатая АКП</span>
                                    </div>
                                </div>
                                <div class="car-card__nav">
                                    <a href="" class="car-card__btn m-btn m-btn--cut m-btn-brown">
                                        <span>подробнее</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__nav">
                <div class="swiper-nav">
                    <div class="swiper-button swiper-button-prev">
                        <img src="{% static 'img/prev.svg' %}" alt="">
                    </div>
                    <div class="swiper-button swiper-button-next">
                        <img src="{% static 'img/next.svg' %}" alt="">
                    </div>
                </div>

                <div class="swiper-pagination _black"></div>
            </div>
        </div>
        <div class="guarantee">
            <div class="guarantee__top">
                <div class="h1 red-text">
                    заводская Гарантия <span class="no-wrap">и надёжность</span>
                </div>
                <div class="guarantee__desc">
                    5 лет или 150 000 км гарантии на весь автомобиль BAW — подтверждение высокого качества и надежности
                </div>
            </div>
            <div class="guarantee__desc2 body-l">
                Узнайте все подробности о доставке, наличии автомобилей и условиях гарантии у наших специалистов или
                сразу запишитесь на тест-драйв.
            </div>
            <div class="guarantee__nav">
                <a href="" class="guarantee__btn m-btn m-btn--cut m-btn-brown">
                    <span>ЗАПИСАТЬСЯ НА ТЕСТ_ДРАЙВ</span>
                </a>
                <a href="" class="guarantee__btn m-btn m-btn--cut m-btn-black">
                    <span>СВЯЗАТЬСЯ СО МНОЙ</span>
                </a>
            </div>
        </div>
    </div>
    <img src="img/car.webp" alt="" class="choose__img">

</div>