{% load static %}

<div class="blog-slider slider">
    <div class="slider__wrap">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for news_post in news_video %}
                    <div class="swiper-slide">
                        <div class="blog-card blog-card--video">
                            <a href="{{ news_post.video.url }}" data-fancybox class="blog-card__img _scale-img">
                                <img src="{{ news_post.webp_image.url }}" alt="">
                            </a>
                            <div class="blog-card__content">
                                <div class="h3 ">
                                    <a href="">{{ news_post.title }} {{ news_post.description }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="slider__nav">
        <div class="swiper-nav">
            <div class="swiper-button swiper-button-prev">
                <img src="{% static 'img/prev.svg' %}" alt="">
            </div>
            <div class="swiper-button swiper-button-next">
                <img src="{% static 'img/next.svg' %}" alt="">
            </div>
        </div>

        <a href="" class="slider__link m-btn m-btn-black-outline">
            <span>Узнать больше </span>
        </a>
    </div>
</div>