<div class="our-tg">
    <div class="container">
        <div class="our-tg__inner">
            <div class="h2">
                Самые свежие новости в нашем Телеграмме!
            </div>
            <div class="our-tg__desc">
                <div class="text24 text20-tablet _lsp01">
                    Подпишись, чтобы всегда быть в курсе событий
                </div>
            </div>
            <a href="" class="our-tg__link m-btn m-btn-white2 m-btn--cut">
                <span>ПОДПИСАТЬСЯ</span>
            </a>
        </div>
    </div>
</div>