<div class="article">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="">Новости</a></li>
                <li><span>{{ news_article.title }}</span></li>
            </ul>
        </div>
        <div class="article__inner">
            <div class="article__top">
                <div class="article__info">
                    <h1 class="article__title h1">
                        {{ news_article.title }}
                    </h1>
                    <div class="article__desc text24 text12-tablet _lsp01">
                        {{ news_article.description }}
                    </div>
                </div>
                <div class="article__date text24 text12-tablet _lsp01">
                    {{ news_article.created_at|date:"j E Y" }}
                </div>
            </div>
            <div class="text">
                <img src="{{ news_article.webp_image.url }}" alt="">
                <hr>
            </div>
        </div>
    </div>
</div>