{% load static %}
{% load humanize %}
{% load technical_features %}

<div class="equip m-section _tabs-parent">
    <div class="container">
        <div class="h1 text-center">
            Комплектации и возможности
        </div>
        <div class="equip-table">
            <table>
                <thead>
                <tr>
                    <th>
                        <div class="h3">Основные характеристики</div>
                    </th>
                    {% for configuration in configurations %}
                        <th>
                            <div class="equip-item">
                                <div class="equip-item__title">
                                    комлектация
                                </div>
                                <div class="equip-item__desc">
                                    {{ configuration.name }}
                                </div>
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="text18">Розничная цена на автомобили , руб. с НДС</div>
                    </td>
                    {% for configuration in configurations %}
                        <td>
                            <div class="text24">{{ configuration.price|intcomma }}</div>
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>
                        <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                    </td>
                    <td>
                        <div class="text18">13,5</div>
                    </td>
                    <td>
                        <div class="text18">13,5</div>
                    </td>
                    <td>
                        <div class="text18">13,5</div>
                    </td>
                    <td>
                        <div class="text18">13,5</div>
                    </td>
                    <td>
                        <div class="text18">13,5</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text18">Клиренс (дорожный просвет), мм.</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text18">Передняя и задняя подвеска с неразрезным мостом</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text18">Клиренс (дорожный просвет), мм.</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                    </td>
                    <td>
                        <div class="text18">13,5</div>
                    </td>
                    <td>
                        <div class="text18">13,5</div>
                    </td>
                    <td>
                        <div class="text18">13,5</div>
                    </td>
                    <td>
                        <div class="text18">13,5</div>
                    </td>
                    <td>
                        <div class="text18">13,5</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="text18">Передняя и задняя подвеска с неразрезным мостом</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                    <td>
                        <div class="text18">1936</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="equip-tabs slider">
            <div class="slider__nav">
                <div class="swiper-nav">
                    <div class="swiper-button swiper-button-prev">
                        <img src="{% static 'img/prev.svg' %}" alt="">
                    </div>
                    <div class="swiper-button swiper-button-next">
                        <img src="{% static 'img/next.svg' %}" alt="">
                    </div>
                </div>

            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="_tab _active" data-tab="_tab1">
                            <div class="equip-item">
                                <div class="equip-item__title">
                                    комлектация
                                </div>
                                <div class="equip-item__desc">
                                    ADVENTURER RUS
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="_tab" data-tab="_tab2">
                            <div class="equip-item">
                                <div class="equip-item__title">
                                    комлектация
                                </div>
                                <div class="equip-item__desc">
                                    ADVENTURER RUS
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="_tab" data-tab="_tab3">
                            <div class="equip-item">
                                <div class="equip-item__title">
                                    комлектация
                                </div>
                                <div class="equip-item__desc">
                                    ADVENTURER RUS
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="_tab" data-tab="_tab4">
                            <div class="equip-item">
                                <div class="equip-item__title">
                                    комлектация
                                </div>
                                <div class="equip-item__desc">
                                    ADVENTURER RUS
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="_tab" data-tab="_tab5">
                            <div class="equip-item">
                                <div class="equip-item__title">
                                    комлектация
                                </div>
                                <div class="equip-item__desc">
                                    ADVENTURER RUS
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content _tab1 _active">
            <div class="qa-card _open">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Основные характеристики
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden" style="display: block;">
                    <div class="qa-card__props">
                        <div class="qa-card__prop">
                            <div class="text18">Розничная цена на автомобили , руб. с НДС</div>
                            <div class="text24">2 900 000</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-content _tab2">
            <div class="qa-card _open">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Основные характеристики
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden" style="display: block;">
                    <div class="qa-card__props">
                        <div class="qa-card__prop">
                            <div class="text18">Розничная цена на автомобили , руб. с НДС</div>
                            <div class="text24">2 900 000</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-content _tab3">
            <div class="qa-card _open">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Основные характеристики
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden" style="display: block;">
                    <div class="qa-card__props">
                        <div class="qa-card__prop">
                            <div class="text18">Розничная цена на автомобили , руб. с НДС</div>
                            <div class="text24">2 900 000</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-content _tab4">
            <div class="qa-card _open">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Основные характеристики
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden" style="display: block;">
                    <div class="qa-card__props">
                        <div class="qa-card__prop">
                            <div class="text18">Розничная цена на автомобили , руб. с НДС</div>
                            <div class="text24">2 900 000</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-content _tab5">
            <div class="qa-card _open">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Основные характеристики
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden" style="display: block;">
                    <div class="qa-card__props">
                        <div class="qa-card__prop">
                            <div class="text18">Розничная цена на автомобили , руб. с НДС</div>
                            <div class="text24">2 900 000</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                        <div class="qa-card__prop">
                            <div class="text18">Расход топлива в городском цикле л. / 100 км.</div>
                            <div class="text18">13,5</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="equip-items">
            <div class="qa-card">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Привод и коробка
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden">
                    <div class="qa-card__text">
                        Однозначно, некоторые особенности внутренней политики, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут подвергнуты целой серии
                        независимых исследований. А также диаграммы связей, инициированные исключительно синтетически, в
                        равной степени предоставлены сами.
                    </div>
                </div>
            </div>

            <div class="qa-card">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Размеры
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden">
                    <div class="qa-card__text">
                        Однозначно, некоторые особенности внутренней политики, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут подвергнуты целой серии
                        независимых исследований. А также диаграммы связей, инициированные исключительно синтетически, в
                        равной степени предоставлены сами.
                    </div>
                </div>
            </div>

            <div class="qa-card">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Динамические характеристики
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden">
                    <div class="qa-card__text">
                        Однозначно, некоторые особенности внутренней политики, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут подвергнуты целой серии
                        независимых исследований. А также диаграммы связей, инициированные исключительно синтетически, в
                        равной степени предоставлены сами.
                    </div>
                </div>
            </div>

            <div class="qa-card">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Шасси/система подвески
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden">
                    <div class="qa-card__text">
                        Однозначно, некоторые особенности внутренней политики, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут подвергнуты целой серии
                        независимых исследований. А также диаграммы связей, инициированные исключительно синтетически, в
                        равной степени предоставлены сами.
                    </div>
                </div>
            </div>

            <div class="qa-card">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Тормозная система/колёса
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden">
                    <div class="qa-card__text">
                        Однозначно, некоторые особенности внутренней политики, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут подвергнуты целой серии
                        независимых исследований. А также диаграммы связей, инициированные исключительно синтетически, в
                        равной степени предоставлены сами.
                    </div>
                </div>
            </div>

            <div class="qa-card">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Активная/пассивная безопасность
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden">
                    <div class="qa-card__text">
                        Однозначно, некоторые особенности внутренней политики, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут подвергнуты целой серии
                        независимых исследований. А также диаграммы связей, инициированные исключительно синтетически, в
                        равной степени предоставлены сами.
                    </div>
                </div>
            </div>

            <div class="qa-card">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Управление и помощь при вождении
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden">
                    <div class="qa-card__text">
                        Однозначно, некоторые особенности внутренней политики, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут подвергнуты целой серии
                        независимых исследований. А также диаграммы связей, инициированные исключительно синтетически, в
                        равной степени предоставлены сами.
                    </div>
                </div>
            </div>

            <div class="qa-card">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Экстерьер, интерьер и комфорт
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden">
                    <div class="qa-card__text">
                        Однозначно, некоторые особенности внутренней политики, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут подвергнуты целой серии
                        независимых исследований. А также диаграммы связей, инициированные исключительно синтетически, в
                        равной степени предоставлены сами.
                    </div>
                </div>
            </div>

            <div class="qa-card">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Освещение
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden">
                    <div class="qa-card__text">
                        Однозначно, некоторые особенности внутренней политики, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут подвергнуты целой серии
                        независимых исследований. А также диаграммы связей, инициированные исключительно синтетически, в
                        равной степени предоставлены сами.
                    </div>
                </div>
            </div>

            <div class="qa-card">
                <div class="qa-card__show">
                    <div class="qa-card__title h3 text20-tablet regular-text-tablet">
                        Стёкла и зеркала
                    </div>
                    <div class="qa-card__btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14" fill="none">
                            <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                  stroke-width="3"/>
                        </svg>
                    </div>
                </div>
                <div class="qa-card__hidden">
                    <div class="qa-card__text">
                        Однозначно, некоторые особенности внутренней политики, которые представляют собой яркий пример
                        континентально-европейского типа политической культуры, будут подвергнуты целой серии
                        независимых исследований. А также диаграммы связей, инициированные исключительно синтетически, в
                        равной степени предоставлены сами.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>