<div class="req req2">
    <div class="container">
        <div class="req__inner">
            <div class="h1 text-center">
                Оставьте заявку
            </div>
            <form action="" class="req-form">
                <div class="req-contacts">
                    <div class="h5">
                        КОНТАКТНАЯ ИНФОРМАЦИЯ
                    </div>
                    <div class="req-contacts__fields">
                        <div class="fg">
                            <input type="text" placeholder="Имя">
                        </div>
                        <div class="fg">
                            <input type="text" placeholder="Фамилия ">
                        </div>
                        <div class="fg">
                            <input type="tel" placeholder="+ 7 ( _ _ _ ) _ _ - _ _ - ___">
                        </div>
                        <div class="req-contacts__wishes">
                            <div class="fg">
                                <input type="text" placeholder="Желаемая дата">
                            </div>
                            <div class="fg">
                                <input type="text" placeholder="Желаемое время">
                            </div>
                        </div>
                        <div class="req-contacts__textarea fg">
                            <textarea placeholder="Ваш комментарий"></textarea>
                        </div>
                        <div class="m-check">
                            <input type="checkbox">
                            <label>
                            <span>
                                Я даю согласие на обработку персональных данных; предоставление персональных  данных третьим лицам и коммуникацию; ознакомлен с политикой конфиденциальности.
                            </span>
                            </label>
                        </div>
                    </div>
                    <div class="req-contacts__nav">
                        <button class="req-contacts__btn m-btn m-btn--cut m-btn-brown">
                            <span>Записаться на тест-драйв</span>
                        </button>
                    </div>
                </div>
                <div class="req-contacts__hint">
                    <div class="text12">
                        После отправки заявки, оператор свяжется с Вами, чтобы уточнить детали
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>