{% load technical_features %}

<div class="req req2">
    <div class="container">
        <div class="req__inner">
            <div class="h1 text-center">
                Оставьте заявку
            </div>
            <form class="req-form" id="testDriveForm" data-url="{% url 'test-drive-request' %}">
                {% csrf_token %}
                <div class="req-contacts">
                    <div class="h5">
                        КОНТАКТНАЯ ИНФОРМАЦИЯ
                    </div>
                    <div class="req-contacts__fields">
                        <div class="fg">
                            <input type="text" placeholder="Имя" name="first_name" required>
                        </div>
                        <div class="fg">
                            <input type="text" placeholder="Фамилия" name="last_name">
                        </div>
                        <div class="fg">
                            <input type="tel" placeholder="+ 7 ( _ _ _ ) _ _ - _ _ - ___"
                                   pattern="[\+]?[7-8][\s\-]?\(?\d{3}\)?[\s\-]?\d{3}[\s\-]?\d{2}[\s\-]?\d{2}"
                                   title="Введите корректный номер телефона"
                                   name="phone"
                                   required>
                        </div>
                        <div class="req-contacts__wishes">
                            <div class="fg">
                                <input type="date" placeholder="Желаемая дата"
                                       name="desired_date"
                                       min="{% next_date 1 %}"
                                       max="{% next_date 13 %}">
                            </div>
                            <div class="fg">
                                <input type="time" placeholder="Желаемое время" name="desired_time" min="09:00" max="20:30" step="1800">
                            </div>
                        </div>
                        <div class="req-contacts__textarea fg">
                            <textarea placeholder="Ваш комментарий" name="comment"></textarea>
                        </div>
                        <div class="m-check">
                            <input type="checkbox" name="consent" required>
                            <label>
                            <span>
                                Я даю согласие на обработку персональных данных; предоставление персональных  данных третьим лицам и коммуникацию; ознакомлен с политикой конфиденциальности.
                            </span>
                            </label>
                        </div>
                    </div>
                    <div class="req-contacts__nav">
                        <button class="req-contacts__btn m-btn m-btn--cut m-btn-brown" type="button" id="testDriveBtnSubmit">
                            <span>Записаться на тест-драйв</span>
                        </button>
                    </div>
                </div>
                <div class="req-contacts__hint">
                    <div class="text12">
                        После отправки заявки, оператор свяжется с Вами, чтобы уточнить детали
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>