{% load static %}

{% if card_configuration %}
<div id="models" class="adventurer m-section">
    <div class="container">
        <div class="adventurer__desc">
            <div class="body-l">
                {{ card_configuration.0.title|safe }}
            </div>
        </div>
        <div class="adventurer-slider slider _no-swipe">
            <div class="swiper-button swiper-button-prev">
                <img src="{% static 'img/prev.svg' %}" alt="">
            </div>
            <div class="swiper-button swiper-button-next">
                <img src="{% static 'img/next.svg' %}" alt="">
            </div>
            <div class="adventurer-slider__hidden">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for card in card_configuration %}
                            <div class="adventurer-slider__slide swiper-slide">
                                <div class="challenges-slider__nav">
                                    <div class="h1">
                                        {{ card.configuration }}
                                    </div>
                                </div>
                                <div class="advantages__items grid4">
                                    {% for feature in card.features.all %}
                                        <div class="advantage-item">
                                            <div class="advantage-item__top">
                                                {% if feature.icon %}
                                                    <div class="advantage-item__icon">
                                                        <img src="{{ feature.icon.url }}" alt="">
                                                    </div>
                                                {% endif %}
                                                <div class="advantage-item__title">
                                                    {{ feature.value }}
                                                </div>
                                                {% if feature.unit %}
                                                    <div class="advantage-item__measure">
                                                        {{ feature.unit }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="body-l white-text3">
                                                {{ feature.title }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="challenges-slider slider _nested">
                                    <div class="slider__wrap">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                {% for image in card.images.all %}
                                                    <div class="swiper-slide">
                                                        <div class="challenge-card">
                                                            {% if image.webp_image %}
                                                                <div class="challenge-card__img">
                                                                    <img src="{{ image.webp_image.url }}" alt="">
                                                                </div>
                                                            {% endif %}
                                                            <div class="challenge-card__content">
                                                                <div class="challenge-card__title h3">
                                                                    {{ image.title }}
                                                                </div>
                                                                <div class="challenge-card__desc body-l white-text3">
                                                                    {{ image.description }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider__nav">
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
