{% load static %}

<div class="services m-section">
    <div class="container">
        <div class="services__grid grid4">
            {% for service in services %}
                <div class="service-card">
                    {% if service.icon %}
                        <img src="{{ service.icon.url }}" alt="" class="service-card__icon">
                    {% endif %}
                    <div class="service-card__title">
                        {{ service.title|safe|upper }}
                    </div>
                    <div class="service-card__desc">
                        {{ service.description|safe }}
                    </div>

                    <div class="service-card__nav">
                        {% if service.is_popup %}
                            <a href="#" class="service-card__link js-open-modal" data-modal="reqModal">
                                <span>Подобрать</span>
                                <img src="{% static 'img/arrow-right.svg' %}" alt="">
                            </a>
                        {% else %}
                            <a href="{{ service.slug }}" class="service-card__link">
                                <span>Перейти</span>
                                <img src="{% static 'img/arrow-right.svg' %}" alt="">
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>