{% load static %}
{% load humanize %}
{% load technical_features %}

{% if configurations %}
<div class="equip m-section _tabs-parent">
    <div class="container">
        <div class="h1 text-center">
            Комплектации и возможности
        </div>
        <div class="equip-table">
            <table>
                <thead>
                <tr>
                    <th>
                        <div class="h3">Основные характеристики</div>
                    </th>
                    {% for configuration in configurations %}
                        <th>
                            <div class="equip-item">
                                <div class="equip-item__title">
                                    комлектация
                                </div>
                                <div class="equip-item__desc">
                                    {{ configuration.name }}
                                </div>
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="text18">Розничная цена на автомобили , руб. с НДС</div>
                    </td>
                    {% for configuration in configurations %}
                        <td>
                            <div class="text24">{{ configuration.price|default:0|intcomma }}</div>
                        </td>
                    {% endfor %}
                </tr>
                {% for main_feature in main_features %}
                    <tr>
                        <td>
                            <div class="text18">{{ main_feature.name }}</div>
                        </td>
                        {% for configuration in configurations %}
                            <td>
                                {# Тег feature_value должен сам обрабатывать отсутствие ключа в values_dict #}
                                <div class="text18">{% feature_value values_dict main_feature.id configuration.id %}</div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% for group in groups %}
            <div class="equip-items equip-items--hide-mob">
                <div class="qa-card qa-card-table">
                    <div class="qa-card__show">
                        <div class="qa-card__title h3 text16-tablet regular-text-tablet">
                            {{ group.name }}
                        </div>
                        <div class="qa-card__btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="14" viewBox="0 0 23 14"
                                 fill="none">
                                <path d="M1.06055 1.06055L11.0605 11.0605L21.0605 1.06055" stroke="#242422"
                                      stroke-width="3"/>
                            </svg>
                        </div>
                    </div>
                    <div class="qa-card__hidden">
                        <div class="equip-table">
                            <table>
                                <tbody>
                                {% for characteristic in group.characteristics.all %}
                                    <tr>
                                        <td>
                                            <div class="text18">{{ characteristic.name }}</div>
                                        </td>
                                        {% for configuration in configurations %}
                                            <td>
                                                <div class="text18">{% feature_value values_dict characteristic.id configuration.id %}</div>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
