{% load static %}

<div class="useful">
    <div class="container">
        <div class="h1 text-center">
            Полезные материалы
        </div>
        <div class="useful__grid grid3">
            {% for material in useful_materials %}
            <div class="useful-card">
                <div class="useful-card__top _flex-between">
                    <img src="{% static 'img/service-icon5.svg' %}" alt="" class="useful-card__icon">
                    <a href="{{ material.file.url }}" class="useful-card__download _flex" download>
                        <span class="text18 text16-mob _lsp01 semi-bold-text">Скачать</span>
                        <img src="{% static 'img/download.svg' %}" alt="">
                    </a>
                </div>

                <div class="h2">
                    {{ material.title }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
